* {
font-family: serif;
}
.main-nav {
  background-color: #EDBD65;
  color: #3E211E;
}
.main-nav a{
  color: #3E211E;
  padding: 10px;
  text-decoration: none;
}

.navbar-1{
  font-weight: bolder;
}
/* ////////////////////FILE UPLOADS */
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    padding: 35px 48px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    background-color: #BBBBBB;
}
.edit-file-upload {
    border-radius: 3px;
    padding: 0px 8px;
    cursor: pointer;
    margin: 10px;
    /* margin-left: -30%; */
    text-align: center;
    background-color: #BBBBBB;
}

/* //////////////////HANDLING IMGS */
.preimg{
  overflow: hidden;
  padding: 0px;
}
.imageEdit{
  color: #5A5A5A;
  font-weight: bolder;
  font-size: 1rem;
}
.imagePlus{
  color: #5A5A5A;
  font-weight: bolder;
  font-size: 50px;
}
.sidebar{
min-height: 100vh;
height: 100%;
background-color: #F2DFDB;
padding: 10px;
text-align: center;
}
.sidebar p{
margin-top: 20%;

}

.sidenav a{
color: #9E623D;
text-decoration: none;
font-weight:600;
margin-bottom: 100px;
padding: 10px;
border-bottom: 2px solid #9E623D;
}
.pre-img{
  height:300px;
  overflow: hidden;
}

.plus{
  color: blue;
  font-weight: bolder;
}

.img-container{
  height:300px;
  width:550px;
  overflow: hidden;
  padding: 0px;
  margin: 10px;
  background: #D3D3D3;
  text-align: center;

}

.recipe-img{
  width: 110%;
  margin-top: -15%;
  padding-bottom: 50px;

}
.editImgForm{
  height:150px;
  width:150px;
  overflow: hidden;
  padding: 0px;
  margin: 10px;
  display: inline-block;
}

.listImg{
  height:150px;
  width:150px;
  overflow: hidden;
  padding: 0px;
  margin: 10px;
}

.listImg:hover{
  height:150px;
  width:150px;
  overflow: hidden;
  padding: 0px;
  margin: 10px;
  opacity: .5;
}


.homepage-img{
  height: 150%;
}

.repice-author{
  text-transform: capitalize;
}

.yieldsSec {
  margin: 10px 0px;
}
/* //////////////////RECIPE HOMEPAGE */

.divider{
  border-bottom: 1px solid grey;
  margin: 0px 25px;
}
/* ////////////////////////RECIPE FORM */
.recipeForm {
  margin: 50px 0px;
}

.formRep{
  background-color: #E6E6E6;
  border-radius: 10px;
  padding: 50px;
}
.sp {
  margin: 10px 0px;
}

.spbetween{
  margin: 0px 10px;
}

.ingul {
  padding: 0px;
}


li {
  list-style: none;
}
/* ///////////////RECIPE DETAIL */

.detail {
  margin-top: 50px;
}

.repice-title {
  font-size: 3em;
  text-align: center;
  margin-bottom: -10px;
}

.recipe-author {
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
}

.timeSec{
  font-weight: bolder;
}

.submit-btn{
  margin: 10px 0px;
}
/* ////////////////MEDIA QUERIES */

@media (min-width: 768px) {
  .container{
    max-width:1500px;
  }

}


@media (max-width: 700px) {
  .repice-title {
    font-size: 1em;
    text-align: center;
    margin-bottom: -10px;
  }

}

@media (max-width: 2000px) {
  .container{
    max-width:2000px;
    padding: 0px
  }

}
