input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    padding: 35px 48px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    background-color: #BBBBBB;
}
.edit-file-upload {
    border-radius: 3px;
    padding: 0px 8px;
    cursor: pointer;
    margin: 10px;
    /* margin-left: -30%; */
    text-align: center;
    background-color: #BBBBBB;
}
.preimg{
  overflow: hidden;
}
.imageEdit{
  color: #5A5A5A;
  font-weight: bolder;
  font-size: 1rem;
}
.imagePlus{
  color: #5A5A5A;
  font-weight: bolder;
  font-size: 50px;
}
.sidebar{
height: 100vh;

}
.pre-img{
  height:300px;
  overflow: hidden;
}

.plus{
  color: blue;
  font-weight: bolder;
}

.img-container{
  height:300px;
  width:550px;
  overflow: hidden;
  padding: 0px;
  margin: 10px;
  background: #D3D3D3;
  text-align: center;

}

.recipe-img{
  width: 110%;
  margin-top: -15%;
  padding-bottom: 50px;

}
.editImgForm{
  height:150px;
  width:150px;
  overflow: hidden;
  padding: 0px;
  margin: 10px;
  display: inline-block;
}

.listImg{
  height:150px;
  width:150px;
  overflow: hidden;
  padding: 0px;
  margin: 10px;
}

.listImg:hover{
  height:150px;
  width:150px;
  overflow: hidden;
  padding: 0px;
  margin: 10px;
  opacity: .5;
}


.homepage-img{
  height: 150%;
}


@media (min-width: 768px) {
  .container{
    max-width:1500px;
  }

}
